.comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #ecf0f2;
    margin: 30px 0 75px 0;
    padding: 20px 30px 35px 30px;
    box-sizing: border-box;
    align-items: center;
    position: relative;

    &::before {
        content: '';
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 15px solid #ecf0f2;
        position: absolute;
        top: -15px;
    }

    &-header {
        font-size: 14px;
        font-weight: 600;
        margin: 0;
    }

    &-text {
        font-size: 14px;
        margin: 10px 0 15px 0;
        max-height: 100px;
        line-height: 20px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        transition: max-height 1s ease-in;
        &:after {
          content: '';
          width: 100%;
          display: block;
          height: 20px;
          background: #ecf0f2de;
          position: absolute;
          top: 80px;
        }

        &-open {
            max-height: 800px;
            overflow: auto;
            cursor: auto;
            &:after {
              display: none;
            }
          }
    }
}