.thumb {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  &-positive {
    background: #4cb03f;
  }
  
  &-negative {
    background: #ee4132;
  }

  svg {
    color: white;
  }
}