@import "src/utils/variables.scss";

.rate {
  display: flex;
  align-items: center;
  padding: 10px 18px;

  &-text {
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 0 18px;
  }
}

.star {
  margin: 0 3px;
}

.star-filled {
  color: $secondary-color;
}

.star-unfilled {
  color: #dfe2e6;
}