.add-comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  &-btn {
    width: 200px;
    margin: 20px 0 0 0;
    outline: none;
    background: #fed740;
    padding: 20px 40px;
    color: #005aa3;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
  }

  &-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  
    .add-comment-textarea {
      width: 100%;
      resize: vertical;
      outline: none;
      padding: 20px;
      box-sizing: border-box;
      border: 1px solid #0b59a2;
      font-size: 14px;
      margin: 20px 0 0 0;
    }
  }
}